<footer class="main-footer">
    <div class="inner">
        <p><i class="fa fa-snowflake-o"></i>SnowTrix - Projet n°6 Parcours "Développeur PHP / Symfony" Openclassrooms. Réalisé par Félix Fouillet
        </p>
    </div>
</footer>