{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier la figure : {{ trick.name }}</h1>

    {% include 'snowtrix/tricks/form/form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'snowtrix/tricks/form/form_javascripts.html.twig' %}
{% endblock %}


