{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mot de passe oublié</h1>
    {{ form_start(form) }}
    {{ form_row(form.userEmailOrUsername) }}

    <button type="submit">Demande de nouveau mot de passe</button>
    {{ form_end(form) }}


{% endblock %}
