{% extends 'base.html.twig' %}

{% block body %}

    <section id="wrapper">
        <section class="wrapper spotlight style2 snowtrix-solo-wrapper">
            <div class="inner snowtrix-fx-style">
                <div class="snowtrix-fx-panel">
                    <h1>Mot de passe oublié</h1>

                    {{ form_start(form) }}
                    {% if form.vars.errors|length %}
                        <div class="error-message">
                            Erreur(s) : </br>
                            {{ form_errors(form) }}
                        </div>

                    {% endif %}
                    {{ form_row(form.userEmailOrUsername) }}

                    <button type="submit">Demande de nouveau mot de passe</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </section>

{% endblock %}
