{% extends 'base.html.twig' %}

{% block body %}

    <h1>Réinitialisation de mot de passe</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.plainPassword) }}
    <button type="submit">Réinitialiser mon mot de passe</button>
    {{ form_end(form) }}

{% endblock %}
