.trick-thumbnail {
    max-width: 400px;
    width : 100%;
}

section.trick-groups .inner{
    flex-direction: column !important;
}

section.trick-groups .inner h2,
section.trick-groups .inner .trick-group
{
    width : 100%;
}

.trick-group {
    margin-bottom: 30px;
}

.trick-group-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trick-group-list li {
    padding: 10px;
    background-color: #073b58;
    border-radius: 5px;
    margin : 0px 20px 25px;
    width : 43%;
}

.trick-group-list li:hover {
    background-color: #0a4566;
}

.trick-group-list h4 {
    font-size : 1em;
}

.trick-group-list.grabs li {
    width : 28%;
}

.trick-actions {
    text-align: right;
}

.trick-actions i {
    margin: 0px 0px 0px 13px;
}


.trick-actions i a{
    margin-left: 3px;
    font-family: "Source Sans Pro", Helvetica;
}

.trick-group p {
    margin-bottom: 1em !important;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6.5em;
    background-color: #041722;
    color: #aaaaaa;
}

footer .inner {
    width: 55em !important;
}

footer:before {
    left: 0;
    top: -6.5em;
}

footer:before{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
}

.main-footer:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100' style='fill:%23041722%3B' /%3E%3C/svg%3E");
    box-shadow: inset 0 -1px 0 0 #041722, 0 1px 0 0 #041722;
}

.fa-snowflake-o {
    margin-right: 5px;
}

a.snowboard-about-image {
    margin: 0 0 2em 3em !important;
}

#snowtrix-menu ul {
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 980px) {
    footer:before {
        top: -4.75em;
        height: 4.75em;
    }

    footer {
        margin: 4.75em 0 0;
        padding: 0px 30px;
    }
}

/* Resize trick li on trick lists */
@media screen and (max-width: 900px) {
    .trick-group-list.grabs li {
        width : 43%;
    }

    .trick-thumbnail.grabs {
        max-width: 100%;
    }
}

@media screen and (max-width: 736px) {
    footer:before {
        top: -2.5em;
        height: 2.5em;
    }

    footer {
        margin: 2.5em 0 0;
    }
}

@media screen and (max-width: 655px) {
    .trick-group-list li,
    .trick-group-list.grabs li
    {
        width : 80%;
    }

    .trick-thumbnail {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .snowboard-about-image,
    .snowboard-history-image{
        display: flex;
        justify-content: center;
        width: 100% !important;
        max-width : 100% !important;
        margin : 0px !important;
    }

    .snowboard-about-image img,
    .snowboard-history-image img{
        width:65% !important;
        height: 50% !important;
    }

}