<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>SnowTrix - Votre demande de réinitialisation de mot de passe.</h1>

        <p>
            Bonjour {{ user.username }}, pour réinitialiser votre mot de passe, merci de cliquer sur le lien suivant :<br/>

            <ul>
                <li>
                    <a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
                </li>
            </ul>

            Passé un délai de 2 heures, ce lien ne fonctionnera plus et il vous faudra soumettre une nouvelle demande de réinitialisation de mot de passe.
        </p>

        <p>L'équipe SnowTrix.</p>
    </body>
</html>
